main {
    margin-left: 220px;
    padding: 50px;
}

.error {
  color: red;
  margin-bottom: 1em;
}
.success {
  color: green;
  margin-bottom: 1em;
}
form {
  margin-bottom: 2em;
}

.btn {
  padding: 8px 14px;
  text-decoration: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  transition: background 0.3s;
  border: none;
}

.btn:hover {
  background: #0056b3;
}

button.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
}
button.delete-btn:hover {
  background-color: #b02a37;
}


.form-ajout {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 600px;
  margin-top: 20px;
}

.form-ajout label {
  font-weight: bold;
  color: #2a365b;
}


.form-ajout input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
