.main-content {
  margin-left: 240px;
  padding: 20px;
}

.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.titre-marque {
  position: relative;
  font-size: 1.5em;
  margin: 20px 0 10px;
  color: #405189;
  padding-bottom: 5px;
}

.titre-marque::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 0;
  border-bottom: 2px solid #62928bfc;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.504);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

.card h3 {
  font-size: 1.1rem;
  margin: 10px 0 5px;
  color: #304177;
}

.card p {
  font-weight: bold;
  color: #1abc9c;
  margin-bottom: 10px;
}

.card .actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card .actions a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #555;
}

.actions a:hover {
  color: #1abc9c;
}

.actions a.delete:hover {
  color: #e74c3c;
}

.actions a.edit:hover {
  color: #f39c12;
}

.toolbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 240px; /* pour laisser la sidebar à gauche */
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

select {
  padding: 8px 20px;
  font-size: 16px;
  border: 1px #ccc;
  border-radius: 8px;
  background-color: #f5f7fb;
  color: #2c3e50;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
}

option {
  font-size: 16px;
  border-radius: 8px;
  background-color: #f5f7fb;
  color: #2c3e50;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
}

option:hover {
  background-color: #2c3e50;
}

select:focus {
  border-color: #304177;
  outline: none;
  box-shadow: 0 0 3px #304177;
}

select:hover {
  box-shadow: 0 0 2px #3a4e8f;
}

form input {
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  outline: none;
  flex: 1;
  font-size: 1rem;
  color: #666;
  background-color: transparent;
}

form a {
  text-decoration: none;
  color: inherit;
}

.search-icon:hover i,
.add-icon:hover i {
  color: #333; /* couleur plus foncée au survol */
  transform: scale(1.2); /* agrandissement */
  transition: all 0.2s ease;
}

.separator {
  width: 1px;
  height: 24px;
  background-color: #ddd;
}

.search-icon,
.add-icon {
  color: #999;
  font-size: 1.2rem;
}

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fef6f6;
    border: 1px solid #e0caca;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
    color: #aa2e2e;
    animation: fadeIn 0.5s ease;
}

.no-results-img {
    width: 40%;
    max-width: 100%;
    margin-bottom: 1rem;
    opacity: 0.8;
}

.no-results p {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}